CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_NET=y
CONFIG_NET=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_NET_TFTP_VARS=y
CONFIG_BOOTP_PXE_CLIENTARCH=0x16
CONFIG_BOOTP_VCI_STRING="U-Boot.armv8"

# Crucial driver layer mapping for ZCU102's TI DP83867 Gigabit PHY
CONFIG_PHYLIB=y
CONFIG_PHY_TI=y
CONFIG_PHY_XILINX=y

CONFIG_DM_ETH=y
CONFIG_NETDEVICES=y
CONFIG_MACB=y
CONFIG_ZYNQ_GEM=y
